<div class="login-box">
  <div class="login-logo">
    <a href="../../index2.html"><b>CRM</b>1.0</a>
  </div>
  <!-- /.login-logo -->
  <div class="login-box-body">
    <p class="login-box-msg">Iniciar Sesión</p>

    <form #form='ngForm'  (ngSubmit)='onSubmit()' >
      <div class="form-group has-feedback">
        <input type="text" class="form-control" placeholder="Nombre" name="nameUser"  #nameUser="ngModel" [(ngModel)]="login.nameUser" required>
        <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
      </div>
      <div class="form-group has-feedback">
        <input type="password" class="form-control" placeholder="Password" name="passwdUser"  #password="ngModel" [(ngModel)]="login.passwdUser"  required>
        <span class="glyphicon glyphicon-lock form-control-feedback"></span>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <button type="submit" class="btn btn-primary btn-block btn-flat" [disabled]='!form.form.valid'>Ingresar</button>
        </div>

        <!-- /.col -->
      </div>
    </form>

  </div>
  <!-- /.login-box-body -->
</div>
<!-- /.login-box -->
