<section class="content">
    <div class="error-page">
      <h2 class="headline text-red">404</h2>
  
      <div class="error-content">
        <h3><i class="fa fa-warning text-red"></i> Oops!Algo ha salido mal.</h3>
        <p>
         No se ha encontrado lo que buscabas.
         <a [routerLink]="['/']" >Retornar Inicio</a>
        </p>
      </div>
    </div>
  </section>