<section class="content-header">
    <h1>
        {{title}}
    </h1>
    <ol class="breadcrumb">
        <li><a [routerLink]="['/']"><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="active">{{title}}</li>
    </ol>
    </section>

<div *ngIf='loading'>
    Cargando...
</div>


<div class="box box-default color-palette-box" *ngIf='!loading'>
<div class="box-body">
    <div class="row">

            <form class="form-horizontal" [formGroup]="form" novalidate >
                    <div class="box-body">
                      <div class="col-md-12">
                        <div class="col-md-4">
                            <div class="col-md-12" *ngIf='in.imgEntity != null && in.imgEntity != ""'>
                                <img class="responsive-img" width="240" height="240" id="imagen-blob" src="{{urlproject}}web/{{in.imgEntity}}"   />  
                            </div>
                            <div class="col-md-12" *ngIf='in.imgEntity == null || in.imgEntity == ""'>
                                <img class="responsive-img" width="240" height="240" id="imagen-blob" src=""   />  
                            </div>                  
          
                            <div class="col-md-12">
                                <input type="hidden" class="form-control input-sm" id="imgEntity"  formControlName="imgEntity"  >
                                  <input type="file" class="form-control input-sm"  (change)="makeToFiles($event)"  >
                            </div>
                        </div>
                        <div class="col-md-8">
                            <div class="row">
                                    <div class="col-md-4">
                                            <div class="form-group">
                                              <label class="control-label" >Nombre</label>
                                              <div class="col-sm-12" >
                                                <input type="text"  class="form-control input-sm"  formControlName="nameEntity" [(ngModel)]="in.nameEntity"  >
                                                <label style="color: red" *ngIf="form.get('nameEntity').hasError('required') && (form.get('nameEntity').dirty || form.get('nameEntity').touched)">Requerido</label>
                                                <label style="color: red" *ngIf='err.nameEntity != null && err.nameEntity != ""' >{{err.nameEntity}}</label>
                                              </div>
                                            </div>                    
                                      </div>
                                      <div class="col-md-4">  
                                            <div class="form-group">
                                                    <label class="control-label" >Dirección</label>
                                                    <div class="col-sm-12" >
                                                      <input type="text"  class="form-control input-sm"  formControlName="addressEntity" [(ngModel)]="in.addressEntity"  >
                                                      <label style="color: red" *ngIf="form.get('addressEntity').hasError('required') && (form.get('addressEntity').dirty || form.get('addressEntity').touched)">Requerido</label>
                                                      <label style="color: red" *ngIf='err.addressEntity != null && err.addressEntity != ""' >{{err.addressEntity}}</label>
                                                    </div>
                                                  </div>                                                                               
                                      </div>
                                      <div class="col-md-4">  
                                        <div class="form-group">
                                            <label class="control-label" >Contacto</label>
                                            <div class="col-sm-12" >
                                              <input type="text"  class="form-control input-sm"  formControlName="phoneEntity" [(ngModel)]="in.phoneEntity"  >
                                              <label style="color: red" *ngIf="form.get('phoneEntity').hasError('required') && (form.get('phoneEntity').dirty || form.get('phoneEntity').touched)">Requerido</label>
                                              <label style="color: red" *ngIf='err.phoneEntity != null && err.phoneEntity != ""' >{{err.phoneEntity}}</label>
                                            </div>
                                          </div>                                                                               
                                      </div>                                      
                            </div>
                            <div class="row">
                                    <div class="col-md-4">
                                            <div class="form-group">
                                              <label class="control-label" >Web</label>
                                              <div class="col-sm-12" >
                                                <input type="text"  class="form-control input-sm"  formControlName="webEntity" [(ngModel)]="in.webEntity"  >
                                                <label style="color: red" *ngIf="form.get('webEntity').hasError('required') && (form.get('webEntity').dirty || form.get('webEntity').touched)">Requerido</label>
                                                <label style="color: red" *ngIf='err.webEntity != null && err.webEntity != ""' >{{err.webEntity}}</label>
                                              </div>
                                            </div>                    
                                      </div>
                                      <div class="col-md-4">
                                        <div class="form-group">
                                          <label class="control-label" >Ciudad</label>
                                          <div class="col-sm-12" >
                                            <input type="text"  class="form-control input-sm"  formControlName="cityEntity" [(ngModel)]="in.cityEntity"  >
                                            <label style="color: red" *ngIf="form.get('cityEntity').hasError('required') && (form.get('cityEntity').dirty || form.get('cityEntity').touched)">Requerido</label>
                                            <label style="color: red" *ngIf='err.cityEntity != null && err.cityEntity != ""' >{{err.cityEntity}}</label>
                                          </div>
                                        </div>                    
                                      </div>  
                                      <div class="col-md-4">
                                        <div class="form-group">
                                          <label class="control-label" >Departamento</label>
                                          <div class="col-sm-12" >
                                            <input type="text"  class="form-control input-sm"  formControlName="departamentoEntity" [(ngModel)]="in.departamentoEntity"  >
                                            <label style="color: red" *ngIf="form.get('departamentoEntity').hasError('required') && (form.get('departamentoEntity').dirty || form.get('departamentoEntity').touched)">Requerido</label>
                                            <label style="color: red" *ngIf='err.departamentoEntity != null && err.departamentoEntity != ""' >{{err.departamentoEntity}}</label>
                                          </div>
                                        </div>                    
                                      </div>                                                                            
                            </div> 
                            <div class="row">
                                    <div class="col-md-3">  
                                            <div class="form-group">
                                              <label for="inputPassword3" class="control-label">Activo</label>
                                              <div class="col-sm-12">
                                                <div class="form-group">
                                                  <select class="form-control input-sm" formControlName="actEntity"  [(ngModel)]="in.actEntity"  >
                                                  <option  value="SI" [selected]="in.actEntity == 'SI'">SI</option>
                                                  <option  value="NO" [selected]="in.actEntity == 'NO'">NO</option>
                                                  </select>
                                                  <label style="color: red"  *ngIf="form.get('actEntity').hasError('required')">Requerido</label>
                                                  <label style="color: red"  *ngIf='err.actEntity != null && err.actEntity != ""'>{{err.actEntity}}</label>
                                                </div>
                                              </div>
                                            </div>                                   
                                      </div>                                
                                <div class="col-md-3">
                                    <label class="control-label" >Email</label>
                                    <div class="col-sm-12">
                                      <input type="text" class="form-control input-sm" formControlName="emailEntity" [(ngModel)]="in.emailEntity" placeholder="Requerido">
                                      <label style="color: red" *ngIf="form.get('emailEntity').hasError('email')" >Email incorrecto</label>
                                      <label style="color: red" *ngIf="form.get('emailEntity').hasError('required') && (form.get('emailEntity').dirty  || form.get('emailEntity').touched )">Requerido</label>
                                      <label style="color: red" *ngIf='err.emailEntity != null && err.emailEntity != ""' >{{err.emailEntity}}</label>
                                    </div> 
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label class="control-label" >Identificación</label>
                                        <div class="col-sm-12" >
                                        <input type="text"  class="form-control input-sm"  formControlName="identEntity" [(ngModel)]="in.identEntity"  >
                                        <label style="color: red" *ngIf="form.get('identEntity').hasError('required') && (form.get('identEntity').dirty || form.get('identEntity').touched)">Requerido</label>
                                        <label style="color: red" *ngIf='err.identEntity != null && err.identEntity != ""' >{{err.identEntity}}</label>
                                        </div>
                                    </div>                    
                                </div> 
                                <div class="col-md-3">  
                                        <div class="form-group">
                                          <label for="inputPassword3" class="control-label">Es sede?</label>
                                          <div class="col-sm-12">
                                            <div class="form-group">
                                              <select class="form-control input-sm" formControlName="sedeEntity"  [(ngModel)]="in.sedeEntity"  >
                                              <option  value="SI" [selected]="in.sedeEntity == 'SI'">SI</option>
                                              <option  value="NO" [selected]="in.sedeEntity == 'NO'">NO</option>
                                              </select>
                                              <label style="color: red"  *ngIf="form.get('sedeEntity').hasError('required')">Requerido</label>
                                              <label style="color: red"  *ngIf='err.sedeEntity != null && err.sedeEntity != ""'>{{err.sedeEntity}}</label>
                                            </div>
                                          </div>
                                        </div>                                   
                                  </div>                                   
                            </div> 
                            <div class="row">
                                    <div class="form-group">
                                            <label for="inputPassword3" class="control-label">Observaciones</label>
                                            <div class="col-sm-12">
                                              <div class="form-group">
                                                <textarea class="form-control" rows="3" formControlName="obsEntity"  [(ngModel)]="in.obsEntity"></textarea>
                                                <label style="color: red"  *ngIf="form.get('obsEntity').hasError('required')">Requerido</label>
                                                <label style="color: red"  *ngIf='err.obsEntity != null && err.obsEntity != ""'>{{err.obsEntity}}</label>
                                              </div>
                                            </div>
                                    </div>
                            </div>

                        </div>



                      </div>
      
                      <div class="box-footer ">
                       <a [routerLink]="['/cfg_entity']"  class="btn btn-default pull-left" >Volver</a>
                        <button type="submit" class="btn btn-info pull-right"  
                         [disabled]="form.invalid" (click)="onSubmit()"
                         *ngIf='acceso.permisos[0].edit_permission == "SI" || acceso.permisos[0].new_permission == "SI" ' >GUARDAR</button>
                      </div>
                      </div>
                  </form>            

    </div>
</div>
</div>