{# contact.html.twig #}

{{ form_start(form) }}

    <div><label>name</label>
        {{ form_widget(form.nombre) }}
        {{ form_errors(form.nombre) }}
    </div>
    <div><label>apellido</label>
        {{ form_widget(form.apellido) }}
        {{ form_errors(form.apellido) }}
    </div>
<div><label>correo</label>
        {{ form_widget(form.correo) }}
        {{ form_errors(form.correo) }}
    </div>
<div><label>rut</label>
        {{ form_widget(form.rut) }}
        {{ form_errors(form.rut) }}
    </div>
<div><label>telefono</label>
        {{ form_widget(form.telefono) }}
        {{ form_errors(form.telefono) }}
    </div>

    {# Render CSRF token etc .#}
    <div style="display:none">
        {{ form_rest(form) }}
    </div>
    
    <input type="submit" value="Submit">
    
{{ form_end(form) }}