{% extends 'base.html.twig' %}

{% block body %}
    <h1>Freelancers list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Rut</th>
                <th>Apellido</th>
                <th>Correo</th>
                <th>Telefono</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for freelancer in freelancers %}
            <tr>
                <td><a href="{{ path('show', { 'id': freelancer.id }) }}">{{ freelancer.id }}</a></td>
                <td>{{ freelancer.nombre }}</td>
                <td>{{ freelancer.rut }}</td>
                <td>{{ freelancer.apellido }}</td>
                <td>{{ freelancer.correo }}</td>
                <td>{{ freelancer.telefono }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('show', { 'id': freelancer.id }) }}">show</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    
{% endblock %}