{% extends 'base.html.twig' %}

{% block body %}
    <h1>Freelancer</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ freelancer.id }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ freelancer.nombre }}</td>
            </tr>
            <tr>
                <th>Rut</th>
                <td>{{ freelancer.rut }}</td>
            </tr>
            <tr>
                <th>Apellido</th>
                <td>{{ freelancer.apellido }}</td>
            </tr>
            <tr>
                <th>Correo</th>
                <td>{{ freelancer.correo }}</td>
            </tr>
            <tr>
                <th>Telefono</th>
                <td>{{ freelancer.telefono }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('registro_freelancer_homepage') }}">Back to the list</a>
        </li>
    </ul>
{% endblock %}
