<section class="content-header">
    <h1>
        {{title}}
    </h1>
    <ol class="breadcrumb">
        <li><a [routerLink]="['/']"><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="active">{{title}}</li>
    </ol>
    </section>

<div *ngIf='loading'>
    Cargando...
</div>


<div class="box box-default color-palette-box" *ngIf='!loading'>
<div class="box-body">
    <div class="row">

            <form class="form-horizontal" [formGroup]="form" novalidate >
                <div class="box-body">
                <div class="col-md-12">
                        <div class="col-md-4">
                            <div class="col-md-12" *ngIf='in.imgUser != null && in.imgUser != ""'>
                                <img class="responsive-img" width="240" height="240" id="imagen-blob" src="{{urlproject}}web/{{in.imgUser}}"   />  
                            </div>
                            <div class="col-md-12" *ngIf='in.imgUser == null || in.imgUser == ""'>
                                <img class="responsive-img" width="240" height="240" id="imagen-blob" src=""   />  
                            </div>                  
            
                            <div class="col-md-12">
                                <input type="hidden" class="form-control input-sm" id="imgUser"  formControlName="imgUser"  >
                                    <input type="file" class="form-control input-sm"  (change)="makeToFiles($event)"  >
                            </div>
                        </div>
                        <div class="col-md-8">
                                <div class="row">  
                                        <div class="form-group">
                                                <label class="control-label" >Password</label>
                                                <div class="col-sm-12" >
                                                  <input type="text"  class="form-control input-sm"  formControlName="passwdUser" [(ngModel)]="in.passwdUser"  >
                                                  <label style="color: red" *ngIf="form.get('passwdUser').hasError('required') && (form.get('passwdUser').dirty || form.get('passwdUser').touched)">Requerido</label>
                                                  <label style="color: red" *ngIf='err.passwdUser != null && err.passwdUser != ""' >{{err.passwdUser}}</label>
                                                </div>
                                              </div>                                                                               
                                  </div>
                                  <div class="row">  
                                        <label class="control-label" >Confirme Clave</label>
                                        <div class="col-sm-12">
                                          <input type="text" class="form-control input-sm"  
                                           [(ngModel)]="in.confirmPassword"  formControlName="confirmPassword"  placeholder="Requerido"/>
                                           <label style="color: red" *ngIf="form.controls.confirmPassword.errors?.MatchPassword && (form.get('confirmPassword').dirty  || form.get('confirmPassword').touched )">Las claves no coinciden</label>
                                           <label style="color: red" *ngIf="form.get('confirmPassword').hasError('required') && (form.get('confirmPassword').dirty  || form.get('confirmPassword').touched )">Requerido</label>
                                          <label style="color: red" *ngIf='err.confirmPassword != null && err.confirmPassword != ""'>{{err.confirmPassword}}</label>
                                        </div>                                                                              
                                  </div> 
                        </div>



                </div>

                <div class="box-footer ">
                <a [routerLink]="['/']"  class="btn btn-default pull-left" >Volver</a>
                <button type="submit" class="btn btn-info pull-right"  
                    [disabled]="form.invalid" (click)="onSubmit()"
                    *ngIf='acceso.permisos[0].edit_permission == "SI" || acceso.permisos[0].new_permission == "SI" ' >GUARDAR</button>
                </div>
                </div>
            </form>            

    </div>
</div>
</div>