<div *ngIf='loading'>
    Cargando...
</div>
<div class="py-5" *ngIf='!loading'>
    <div class="container">
      <div class="row">
        <div class="col-12">
          <h2 class="text-center text-capitalize">Lista de Freelancer</h2>
          <hr class="mb-4"> </div>
      </div>
      <div class="row">
        <div class="col-md-12 text-center">
            <button routerLink="./add" class="btn btn-warning btn-lg ">Agregar Freelancer</button>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12 p-3">
          <table class="table table-hover boderless">
            <thead class="thead-inverse">
              <tr>
                <th scope="col">Rut</th>
                <th scope="col">Nombre</th>
                <th scope="col">Telefono</th>
                <th scope="col">Correo</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor='let freelancer of personal'>
                <th scope="row">{{freelancer.rut}}</th>
                <td>{{freelancer.nombre}} {{freelancer.apellido}}</td>
                <td>{{freelancer.telefono}}</td>
                <td>{{freelancer.correo}}</td>
              </tr>
                
            </tbody>
          </table>
            
                      <pagination-controls   previousLabel="Ant" nextLabel="Sig"                    
                      (pageChange)="p = $event ; pageChanged($event)"></pagination-controls>
        </div>
      </div>
    </div>
  </div>