<section class="content-header">
    <h1>
        {{title}}
    </h1>
    <ol class="breadcrumb">
        <li><a [routerLink]="['/']"><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="active">{{title}}</li>
    </ol>
    </section>

<div *ngIf='loading'>
    Cargando...
</div>


<div class="box box-default color-palette-box" *ngIf='!loading'>
<div class="box-body">
    <div class="row">

            <form class="form-horizontal" [formGroup]="form" novalidate >
                    <div class="box-body">
                      <div class="col-md-12">
                        <div class="col-md-8">
                            <div class="row">
                                    <div class="col-md-4">
                                            <div class="form-group">
                                              <label class="control-label" >Nombre</label>
                                              <div class="col-sm-12" >
                                                <input type="text"  class="form-control input-sm"  formControlName="nombre" [(ngModel)]="in.nombre"  >
                                                <label style="color: red" *ngIf="form.get('nombre').hasError('required') && (form.get('nombre').dirty || form.get('nombre').touched)">Requerido</label>
                                                <label style="color: red" *ngIf='err.nombre != null && err.nombre != ""' >{{err.nameUser}}</label>
                                              </div>
                                            </div>                    
                                      </div>
                                      <div class="col-md-4">  
                                            <div class="form-group">
                                                    <label class="control-label" >Apellido</label>
                                                    <div class="col-sm-12" >
                                                      <input type="text"  class="form-control input-sm"  formControlName="apellido" [(ngModel)]="in.apellido"  >
                                                      <label style="color: red" *ngIf="form.get('apellido').hasError('required') && (form.get('apellido').dirty || form.get('apellido').touched)">Requerido</label>
                                                      <label style="color: red" *ngIf='err.nombre != null && err.nombre != ""' >{{err.nameUser}}</label>
                                                    </div>
                                                  </div>                                                                               
                                      </div>
                                      <div class="col-md-4">  
                                            <label class="control-label" >Rut</label>
                                            <div class="col-sm-12">
                                              <input type="text" class="form-control input-sm" [(ngModel)]="in.rut"  formControlName="rut"  placeholder="Requerido"/>
                                              <label style="color: red" *ngIf="form.get('rut').hasError('required') && (form.get('rut').dirty || form.get('rut').touched)">Requerido</label>
                                              <label style="color: red" *ngIf='err.rut != null && err.rut != ""' >{{err.rut}}</label>
                                          </div>                                                                              
                                      </div>   
                                <div class="col-md-4">
                                    <label class="control-label" >Telefono</label>
                                    <div class="col-sm-12">
                                      <input type="text" class="form-control input-sm" formControlName="telefono" [(ngModel)]="in.telefono" placeholder="Requerido">
                                      <label style="color: red" *ngIf="form.get('telefono').hasError('telefono')" >Email incorrecto</label>
                                      <label style="color: red" *ngIf="form.get('telefono').hasError('required') && (form.get('telefono').dirty  || form.get('telefono').touched )">Requerido</label>
                                      <label style="color: red" *ngIf='err.telefono != null && err.telefono != ""' >{{err.telefono}}</label>
                                    </div> 
                                </div>
                                <div class="col-md-4">
                                  <label class="control-label" >Correo</label>
                                    <div class="col-sm-12">
                                      <input type="text" class="form-control input-sm" formControlName="correo" [(ngModel)]="in.correo" placeholder="Requerido">
                                      <label style="color: red" *ngIf="form.get('correo').hasError('correo')" >Email incorrecto</label>
                                      <label style="color: red" *ngIf="form.get('correo').hasError('required') && (form.get('correo').dirty  || form.get('correo').touched )">Requerido</label>
                                      <label style="color: red" *ngIf='err.correo != null && err.correo != ""' >{{err.correo}}</label>
                                    </div> 
                    
                                </div>                                                       
                            </div>                                                        
                        </div>



                      </div>
      
                      <div class="box-footer ">
                       <a [routerLink]="['/fr_personal']"  class="btn btn-default pull-left" >Volver</a>
                        <button type="submit" class="btn btn-info pull-right"  
                         [disabled]="form.invalid" (click)="onSubmit()"
                         *ngIf='acceso.permisos[0].edit_permission == "SI" || acceso.permisos[0].new_permission == "SI" ' >GUARDAR</button>
                      </div>
                      </div>
                  </form>            

    </div>
</div>
</div>