<section class="content-header">
  <h1>
      {{title}}
  </h1>
  <ol class="breadcrumb">
      <li><a [routerLink]="['/']"><i class="fa fa-dashboard"></i> Home</a></li>
      <li class="active">{{title}}</li>
  </ol>
  </section>

<div *ngIf='loading'>
  Cargando...
</div>

<div class="box box-default color-palette-box" *ngIf='!loading'>
<div class="box-body">
      <div class="row"  *ngIf='acceso.permisos[0].list_permission == "SI"'>
              <form class="col-xs-12" role='search'>
                <div class="col-xs-3 form-group">
                  <label>Tipo Busqueda</label>
                  <select class="form-control input-sm" name="order"  #typesearch  >
                    <option value="nameUser">Usuario</option>
                    <option value="emailUser">Email</option>
                    <option value="nameapeUser">Nombre y Apellidos</option>
                  </select>
                </div>
                <!--div class="col-xs-7 form-group">
                  <label>Que deseas Buscar?</label>
                    <input name="search" class="form-control" type="text" value={{search}} [(ngModel)]="search" (input)="filter($event.target.value,typesearch.value)" (keydown.enter)="filter(search)">
                </div--> 
                <div class='col-xs-2'><br> 
                  <button class="btn btn-info" [routerLink]="['/cfg_user','new',0]" *ngIf='acceso.permisos[0].new_permission == "SI"' >Nuevo</button>                      
                </div>
              </form>
            </div>

            <div class="row">
                  <div class="col-xs-12">
                    <div class="col-xs-2 text-light-blue">Usuario</div>
                    <div class="col-xs-2 text-light-blue">Nombre y Apellido</div>
                    <div class="col-xs-2 text-light-blue">rut</div>
                    <div class="col-xs-2 text-light-blue">telefono</div>
                    <div class="col-xs-2 text-light-blue">correo</div>
                    <!--div class="col-xs-4 text-light-blue">Accciones</div-->
                  </div>
                  <hr>
                  <div class="col-xs-12 "  *ngFor='let l of list.data | paginate: { itemsPerPage: 5, currentPage: p, totalItems: list.total }; let i = index '  style="border: 1px solid #eff0f2">
                    <div class="datos-list{{i}}">
                    <div class="col-xs-2">{{l.nombre}}</div>
                    <div class="col-xs-2">{{l.apellido}}</div>
                    <div class="col-xs-2">{{l.rut}}</div>
                    <div class="col-xs-2">{{l.telefono}}</div>
                    <div class="col-xs-2">{{l.correo}}</div>

                    <!--div class="col-xs-4">
                      <button class="btn btn-success" [routerLink]="['/cfg_user','edit',l.id]" *ngIf='acceso.permisos[0].edit_permission == "SI"'>Editar</button>
                      <button class="btn btn-info" [routerLink]="['/cfg_user','edit',l.id]" *ngIf='acceso.permisos[0].show_permission == "SI"'>Ver</button>                       
                      <button class="btn btn-danger" (click)='del(l.id)' *ngIf='acceso.permisos[0].delete_permission == "SI"'>Eliminar</button>
                    </div-->
                    </div>
                  </div>   
                    <pagination-controls   previousLabel="Ant" nextLabel="Sig"                    
                    (pageChange)="p = $event ; pageChanged($event)"></pagination-controls>
                 
                </div>

</div>
</div>






<div class="modal modal-danger fade" id="modal-danger" style="display: none;">
<div class="modal-dialog">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">×</span></button>
      <h4 class="modal-title"></h4>
    </div>
    <div class="modal-body">
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-outline pull-left" data-dismiss="modal">Cerrar</button>
      <button type="button" class="btn btn-outline" (click)="confirmarSIDelete()">Eliminar</button>
    </div>
  </div>
  <!-- /.modal-content -->
</div>
<!-- /.modal-dialog -->
</div>






