

<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="utf-8">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Sistema de autoevaluacion y registro calificado">
    <meta name="author" content="mvar">
    <meta name="keyword" content="Acreditacion programas, pregrado, postgrado, instituciona, registro calificado">
    <link rel="shortcut icon" href="img/favicon.png">

    <title>Hco</title>
    <script src="{{asset('static/js/jquery.js')}}"></script>

    <link href="{{asset('static/css/bootstrap.min.css')}}" rel="stylesheet">

    <link href="{{asset('static/css/font-awesome.min.css')}}" rel="stylesheet" />

<!--graficas-->
<script src="{{  asset('static/highcharts/code/highcharts.js')}}"></script>
<script src="{{  asset('static/highcharts/code/highcharts-3d.js')}}"></script>
<script src="{{  asset('static/highcharts/code/modules/exporting.js')}} "></script>
<!--end graficas-->

    <style>
        text {
            font: 12px sans-serif;
        }
        svg {
            display: block;
        }
        html, body, #chart1, svg {
            margin: 0px;
            padding: 0px;
            height: 100%;
            width: 100%;
        }
    </style>
    <!-- Main styles for this application -->

</head>

<body class="app header-fixed sidebar-fixed aside-menu-fixed aside-menu-hidden" style="background-color:white">

    <div class="app-body">


            <div class="container-fluid" style="font-size: 10pt">
            {% block graphic %}
            {% endblock %}
            </div>



    </div>






</body>

</html>



