<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Hco</title>
    <meta name="description" content="Sistema Historia Clinica Ocupacional">
    <meta name="author" content="saicomestudio">
    <meta name="keyword" content="Historia Clinica, Ocupacional, salud empresas, trabajadores, certificado, alturas">
    <link rel="shortcut icon" href="img/favicon.png">  
  <!-- Tell the browser to be responsive to screen width -->
  <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
  <script src="{{asset('static/admin/bower_components/jquery/dist/jquery.min.js')}}"></script>
  
<script type="text/javascript" src="{{asset('static/jtable.2.4.0/jquery-ui-1.10.0.min.js')}}"></script>
<script src="{{asset('static/jtable.2.4.0/jquery.jtable.min.js')}}" type="text/javascript"></script>
<script src="{{asset('static/jtable.2.4.0/jquery.jtable.js')}}" type="text/javascript"></script>
<link href="{{asset('static/jtable.2.4.0/themes/metro/blue/jtable.min.css')}}" rel="stylesheet" type="text/css" />



  <!-- Bootstrap 3.3.7 -->
  <script src="{{asset('static/admin/bower_components/bootstrap/dist/js/bootstrap.min.js')}}"></script>
  <!-- Select2 -->
  <script src="{{asset('static/admin/bower_components/select2/dist/js/select2.full.min.js')}}"></script>  
  <!-- Bootstrap 3.3.7 -->
  <link rel="stylesheet" href="{{asset('static/admin/bower_components/bootstrap/dist/css/bootstrap.min.css')}}">
  <!-- Font Awesome -->
  <link rel="stylesheet" href="{{asset('static/admin/bower_components/font-awesome/css/font-awesome.min.css')}}">
  <!-- Ionicons -->
  <link rel="stylesheet" href="{{asset('static/admin/bower_components/Ionicons/css/ionicons.min.css')}}">
  <!-- daterange picker -->
  <link rel="stylesheet" href="{{asset('static/admin/bower_components/bootstrap-daterangepicker/daterangepicker.css')}}">
  <!-- bootstrap datepicker -->
  <link rel="stylesheet" href="{{asset('static/admin/bower_components/bootstrap-datepicker/dist/css/bootstrap-datepicker.min.css')}}">
  <!-- iCheck for checkboxes and radio inputs -->
  <link rel="stylesheet" href="{{asset('static/admin/plugins/iCheck/all.css')}}">
  <!-- Bootstrap Color Picker -->
  <link rel="stylesheet" href="{{asset('static/admin/bower_components/bootstrap-colorpicker/dist/css/bootstrap-colorpicker.min.css')}}">
  <!-- Bootstrap time Picker -->
  <link rel="stylesheet" href="{{asset('static/admin/plugins/timepicker/bootstrap-timepicker.min.css')}}">
  <!-- Select2 -->
  <link rel="stylesheet" href="{{asset('static/admin/bower_components/select2/dist/css/select2.min.css')}}">
  <!-- Theme style -->
  <link rel="stylesheet" href="{{asset('static/admin/dist/css/AdminLTE.min.css')}}">
  <!-- AdminLTE Skins. Choose a skin from the css/skins
       folder instead of downloading all of them to reduce the load. -->
  <link rel="stylesheet" href="{{asset('static/admin/dist/css/skins/_all-skins.min.css')}}">

    <!--notiticacion-->
    <script type="text/javascript" src="{{asset('static/alertify.js/lib/alertify.js')}}"></script>
    <link rel="stylesheet" href="{{asset('static/alertify.js/themes/alertify.core.css')}}" />
    <link rel="stylesheet" href="{{asset('static/alertify.js/themes/alertify.default.css')}}" />  
    <script src="{{asset('static/twbs-pagination-master/jquery.twbsPagination.js')}}" type="text/javascript"></script>  

    <script src="{{ asset('static/js/bootstrap-select/dist/js/bootstrap-select.min.js') }}" type="text/javascript" ></script>
    <script src="{{ asset('static/js/bootstrap-select/dist/js/bootstrap-select.js') }}" type="text/javascript" ></script>
    <link href="{{ asset('static/js/bootstrap-select/dist/css/bootstrap-select.css') }}" rel="stylesheet" type="text/css"/> 

    <link rel="stylesheet" href="{{asset('static/dist-ajax/css/ajax-bootstrap-select.css')}}"/>
    <script type="text/javascript" src="{{asset('static/dist-ajax/js/ajax-bootstrap-select.js')}}"></script>
    
  <link rel="stylesheet"
        href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic">


    <script src="{{ asset('static/john.js') }}" type="text/javascript" ></script>

<script src="{{  asset('static/highcharts/code/highcharts.js')}}"></script>
<script src="{{  asset('static/highcharts/code/highcharts-3d.js')}}"></script>
<script src="{{  asset('static/highcharts/code/modules/exporting.js')}} "></script>
<script src="{{  asset('static/ckeditor/ckeditor.js')}} "></script>


</head>
<body class="hold-transition skin-blue sidebar-mini">
<div class="wrapper">

  <header class="main-header">
    <!-- Logo -->
    <a href="#" class="logo">
      <!-- mini logo for sidebar mini 50x50 pixels -->
      <span class="logo-mini"><b>H</b>CO</span>
      <!-- logo for regular state and mobile devices -->
      <span class="logo-lg"><b>Hco</b>1.3</span>
    </a>
    <!-- Header Navbar: style can be found in header.less -->
    <nav class="navbar navbar-static-top">
      <!-- Sidebar toggle button-->
      <a href="#" class="sidebar-toggle" data-toggle="push-menu" role="button">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </a>

      <div class="navbar-custom-menu">
        <ul class="nav navbar-nav">
          {% if utils.permisosOne('elfinder')[0]['visible'] == 'SI'  %}
          <li class="dropdown notifications-menu">
            <a href="{{path('elfinder')}}" target="_blank" title="Documentos"  >
              <i class="fa  fa-archive"></i>Documentos
            </a>
          </li>          
          {% endif %}
          <li class="dropdown user user-menu">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
             <!-- <img src="../../dist/img/user2-160x160.jpg" class="user-image" alt="User Image">-->
              <span class="hidden-xs">{{app.session.get('user')['nameperson']}}</span>
            </a>
            <ul class="dropdown-menu">
              <!-- User image -->
              <li class="user-header">
                                {% if app.session.get('user')['foto'] == null or app.session.get('user')['foto'] == '' %}
                                <img alt="" src="{{asset('static/img/user.png')}}" width="40" class="img-circle" alt="User Image">
                                {% else %}
                                <img alt="" src="{{asset(app.session.get('user')['foto'] )}}" class="img-circle" alt="User Image">          
                                {% endif %}              
                <p>
                  Usuario: {{app.session.get('user')['nombre']}}
                  <small></small>
                </p>
              </li>
              <!-- Menu Body -->
              <li class="user-body">
                <div class="row">
                  <div class="col-xs-4 text-center">
                    <a href="{{path('starthome_turoriales')}}" target='_blank'>Tutorial</a>                  
                  </div>
                  <!--
                  <div class="col-xs-4 text-center">
                    <a href="#">Sales</a>
                  </div>
                  <div class="col-xs-4 text-center">
                    <a href="#">Friends</a>
                  </div>
                  -->
                </div>
                <!-- /.row -->
              </li>
              <!-- Menu Footer-->
              <li class="user-footer">
                <div class="pull-left">
                  <a href="#" class="btn btn-default btn-flat" onclick="edit({{app.session.get('user')['id']}})">Profile</a>
                </div>
                <div class="pull-right">
                  <a href="{{path('startlogin_logout')}}" class="btn btn-default btn-flat">Salir</a>    
                </div>
              </li>
            </ul>
          </li>
          <!-- Control Sidebar Toggle Button -->
        </ul>
      </div>
    </nav>
  </header>
  <!-- Left side column. contains the logo and sidebar -->
  <aside class="main-sidebar">
    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">

      <ul class="sidebar-menu" data-widget="tree">
        {% for l in utils.permisosAll if l['esmodule'] == 'SI' and l['acturl'] == 'SI' and l['visible'] == 'SI' %}      
        <li class="header">{{l['name']}}</li>
            {% for sm in utils.permisosAll if sm['esmodule'] == 'SM' and sm['acturl'] == 'SI' and sm['obj'] == l['id'] and sm['visible'] == 'SI' %}
                <li class="treeview">
                  <a href="#">
                    <i class="fa fa-dashboard"></i> <span>{{sm['name']}}</span>
                    <span class="pull-right-container">
                      <i class="fa fa-angle-left pull-right"></i>
                    </span>
                  </a>
                  <ul class="treeview-menu">
                    {% for o in utils.permisosAll if o['esmodule'] == 'OB' and o['acturl'] == 'SI' and o['obj'] == sm['id'] and o['visible'] == 'SI' %}
                        <li><a href="#"  onclick="cargarmodulo('{{path(o['url'])}}')"><i class="fa fa-circle-o"></i> {{o['name']}}</a></li>
                    {% endfor %}
                  </ul>
                </li>           
            {% endfor %}
        {% endfor %}
        <li class="header"></li>
        <li><a href="{{path('starthome_soporte')}}" target="_blank"><i class="fa fa-circle-o text-red"></i> <span>Soporte</span></a></li>
        <li><a href="{{path('starthome_huelladigital')}}" target="_blank"><i class="fa fa-circle-o text-yellow"></i> <span>Huella Digital</span></a></li>
        <li><a href="{{path('starthome_firmadora')}}"  target="_blank"><i class="fa fa-circle-o text-aqua" ></i> <span>Firmadora</span></a></li>
      </ul>
    </section>
    <!-- /.sidebar -->
  </aside>

  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper" id="contenedor" >
    <!-- Main content -->

<!--***********************************************-->
<!--***********************************************-->
<!--***********************************************-->
<!--***********************************************-->
<!--***********************************************-->
<!--***********************************************-->
<!--***********************************************-->    
              {% block contenedor %}
                <br><br><br>
                <div class="col-md-12">

<div class="col-md-3">

          <!-- Profile Image -->
          <div class="box box-primary">
            <div class="box-body box-profile">
              <br><br>

                                {% if app.session.get('user')['foto'] == null %}
                                <img alt="" src="{{asset('static/img/user.png')}}" width="100"  class="profile-user-img img-responsive img-circle" alt="User Image">
                                {% else %}
                                <img alt="" src="{{asset('repository/imguser/' ~ app.session.get('user')['foto'] )}}"  class="profile-user-img img-responsive img-circle" width="100" alt="User Image">          
                                {% endif %} 


              <ul class="list-group list-group-unbordered">
                <li class="list-group-item">
                  <a class="pull-right">{{app.session.get('user')['nameperson']}}</a>
                  <br>
                </li>
                <li class="list-group-item">
                  <b>Usuario</b> <a class="pull-right">{{app.session.get('user')['nombre']}}</a>
                </li>
                <li class="list-group-item">
                  <b>Email</b> <a class="pull-right">{{app.session.get('user')['email']}}</a>
                </li>
                <li class="list-group-item">
                  <b>Perfil</b> <a class="pull-right">{{app.session.get('user')['grupos']}}</a>
                </li>
                <li class="list-group-item">
                  <b>Ultimo Acceso</b> <a class="pull-right">{{app.session.get('user')['lastaccess']|date('Y-m-d H:i:s')}}</a>
                </li>                
              </ul>

              <a href="#" class="btn btn-primary btn-block" onclick="edit({{app.session.get('user')['id']}})"><b>Editar</b></a>
            </div>
            <!-- /.box-body -->
          </div>
          <!-- /.box -->

        </div>
        
        <div class="col-md-9">
          <div class="row">
            <div class="col-md-6">
                  <div id="admisiones_charts" style="height: 400px"></div>


                      <script type="text/javascript">

                  Highcharts.chart('admisiones_charts', {
                      chart: {
                          type: 'pie',
                          options3d: {
                              enabled: true,
                              alpha: 45
                          }
                      },
                      title: {
                          text: 'Admisiones'
                      },
                      subtitle: {
                          text: 'No. Admisiones {{admisiones[0]["contador"]}}'
                      },
                      plotOptions: {
                          pie: {
                              innerSize: 100,
                              depth: 45
                          }
                      },
                      series: [{
                          name: 'Delivered amount',
                          data: [
                            {% if admisiones[0]['CERRADO'] > 0 %}
                              ['Cerradas', {{admisiones[0]['CERRADO']}}],
                            {% endif %}
                            {% if admisiones[0]['ACTIVO'] > 0 %}
                              ['Abiertas', {{admisiones[0]['ACTIVO']}}],
                            {% endif %}
                            {% if admisiones[0]['INCOMPLETA'] > 0 %}
                              ['Incompletas', {{admisiones[0]['INCOMPLETA']}}],
                            {% endif %}
                            {% if admisiones[0]['ANULADO'] > 0 %}
                              ['Anuladas', {{admisiones[0]['ANULADO']}}],
                            {% endif %}                                                                  
                          ]
                      }]
                  });
                      </script>
            </div>
                <div class="col-md-6">
                          <div class="small-box bg-yellow row">
                            <div class="inner">
                              <h3>{{pacientes[0]['contador']}}</h3>

                              <p>Numero Pacientes Registrados</p>
                            </div>
                            <div class="icon">
                              <i class="ion ion-person-add"></i>
                            </div>
                          </div>
                          <div class="small-box bg-success row">
                            <div class="inner">
                              <h3>{{admisioneshoy[0]['contador']}}</h3>

                              <p>Numero Admisiones hoy</p>
                            </div>
                            <div class="icon">
                              <i class="ion ion-person-add"></i>
                            </div>
                          </div> 
                                                 
                </div>            
          </div>
        </div>



                </div>


              {% endblock %}
<!--***********************************************-->
<!--***********************************************-->
<!--***********************************************-->
<!--***********************************************-->
<!--***********************************************-->
<!--***********************************************-->
<!--***********************************************-->


    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->
  <footer class="main-footer">
    <div class="pull-right hidden-xs">
      <b>Version</b> 1.3
    </div>
    <strong>Copyright &copy; 2018 <a href="http://hco.saicomestudiocom">Hco.saicomestudio.com</a>.</strong> All rights
    reserved.
  </footer>


</div>
<!-- ./wrapper -->

<!-- jQuery 3 -->

<!-- InputMask -->
<script src="{{asset('static/admin/plugins/input-mask/jquery.inputmask.js')}}"></script>
<script src="{{asset('static/admin/plugins/input-mask/jquery.inputmask.date.extensions.js')}}"></script>
<script src="{{asset('static/admin/plugins/input-mask/jquery.inputmask.extensions.js')}}"></script>
<!-- date-range-picker -->
<script src="{{asset('static/admin/bower_components/moment/min/moment.min.js')}}"></script>
<script src="{{asset('static/admin/bower_components/bootstrap-daterangepicker/daterangepicker.js')}}"></script>
<!-- bootstrap datepicker -->
<script src="{{asset('static/admin/bower_components/bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js')}}"></script>
<!-- bootstrap color picker -->
<script src="{{asset('static/admin/bower_components/bootstrap-colorpicker/dist/js/bootstrap-colorpicker.min.js')}}"></script>
<!-- bootstrap time picker -->
<script src="{{asset('static/admin/plugins/timepicker/bootstrap-timepicker.min.js')}}"></script>
<!-- SlimScroll -->
<script src="{{asset('static/admin/bower_components/jquery-slimscroll/jquery.slimscroll.min.js')}}"></script>
<!-- iCheck 1.0.1 -->
<script src="{{asset('static/admin/plugins/iCheck/icheck.min.js')}}"></script>
<!-- FastClick -->
<script src="{{asset('static/admin/bower_components/fastclick/lib/fastclick.js')}}"></script>
<!-- AdminLTE App -->
<script src="{{asset('static/admin/dist/js/adminlte.min.js')}}"></script>
<!-- AdminLTE for demo purposes -->
<script src="{{asset('static/admin/dist/js/demo.js')}}"></script>
<!-- Page script -->





<!--*************************************************************************************-->
<!--***************************************MODALES***************************************-->



<div class="modal fade" id="modal5"  role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content" style="margin-top:10px">
            <div class="modal-header">
                <h4 class="modal-title">Modal title</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                <!--
                <button type="button" class="btn btn-primary">Save changes</button>
                -->
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<!-- /.modal -->

<div class="modal fade" id="modal4"  role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg4" role="document">
        <div class="modal-content" style="margin-top:10px">
            <div class="modal-header">
                <h4 class="modal-title">Modal title</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                <!--
                <button type="button" class="btn btn-primary">Save changes</button>
                -->
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<!-- /.modal -->


<div class="modal fade" id="modal3"  role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg3" role="document">
        <div class="modal-content" style="margin-top:10px">
            <div class="modal-header">
                <h4 class="modal-title">Modal title</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                <!--
                <button type="button" class="btn btn-primary">Save changes</button>
                -->
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<!-- /.modal -->

<div class="modal fade" id="modal-delete"  role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg2" role="document">
        <div class="modal-content" style="margin-top:10px">
            <div class="modal-header">
                <h4 class="modal-title">Eliminar</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="aler alert-danger">
                    <h3>En verdad desea eliminar el registro ?</h3>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                <a class="btn btn-danger btn-ok">Aceptar</a>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<!-- /.modal -->



<!--*************************************************************************************-->
<!--*************************************************************************************-->
<style type="text/css">
    #modal5 .modal-lg {
  max-width: 1800px !important;
}
@media (min-width: 168px) {
   #modal5 .modal-lg {
    width: 100% !important;
  } 
}
@media (min-width: 1892px) {
  #modal5 .modal-lg {
    width: 1800px !important;
  }
}

#modal1.modal-lg {
  max-width: 400px;
}
@media (min-width: 768px) {
   .modal1.modal-lg {
    width: 100%;
  } 
}


@media (min-width: 492px) {
  #modal1.modal-lg {
    width: 400px;
  }
}


#modal2.modal-lg {
  max-width: 900px;
}
@media (min-width: 768px) {
   #modal2.modal-lg {
    width: 100%;
  } 
}
@media (min-width: 992px) {
  #modal2.modal-lg {
    width: 900px;
  }
}


#modal3.modal-lg {
  max-width: 1100px;
}
@media (min-width: 768px) {
   #modal3.modal-lg {
    width: 100%;
  } 
}
@media (min-width: 1192px) {
  #modal3.modal-lg {
    width: 1100px;
  }
}




#modal4.modal-lg {
  max-width: 1500px;
}
@media (min-width: 768px) {
   #modal4.modal-lg {
    width: 100%;
  } 
}
@media (min-width: 1592px) {
  #modal4.modal-lg {
    width: 1500px;
  }
}





.select2-container {
    width: 100% !important;
    padding: 0;
}


</style>

<!--**************************************************************-->
<script type="text/javascript">
  
$('#modal-delete').on('show.bs.modal', function(e) {
   
    $(this).find('.btn-ok').click(function(){           
            //showLoadMsg("Eliminando");
            var url = $(e.relatedTarget).data('href');
                $.post(
                    url,
                    {},
                    function(r){
                      var data = JSON.parse(r); 
                      if(!data.res) {
                          $('#contenedor').load(data.url);
                      }else{
                          $('#contenedor').load(data.url);
                      }
                      $('#modal-delete').modal('hide');
                        
                    }
                );
    });
});

function cargarmodulo(url){
       $.ajax({
        type: "GET",
        url: url,
        data: {},
        beforeSend: function() {   
           $('#contenedor').html('<br><br><br><br><br><div class="col-md-5"></div><div class="col-md-2"><img style="100%" src="{{asset("static/img/loading.gif")}}"></div><div class="col-md-5"></div>');                  
        },
        success: function(server_response) {
           $('#contenedor').html(server_response);         
        },
        error: function() {
            alert('ajax call failed...');
        }
    });
}

function dateJohn (dateObject) {
    var d = new Date(dateObject);
    var day = d.getDate();
    var month = d.getMonth() + 1;
    var year = d.getFullYear();
    if (day < 10) {
        day = "0" + day;
    }
    if (month < 10) {
        month = "0" + month;
    }
    var date = day + "/" + month + "/" + year;

    return date;
}


            function edit(id)
            {
                var url = "{{ app.request.getBaseURL() }}"+"/cfg_user/"+id+"/editperfil";              
                $('#modal5').modal('show');
                $('#modal5 .modal-title').html('Perfil');
                $('#modal5 .modal-body').load(url);
            }

</script>



</body>
</html>