<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Creative - Bootstrap 3 Responsive Admin Template">
    <meta name="author" content="GeeksLabs">
    <meta name="keyword" content="Creative, Dashboard, Admin, Template, Theme, Bootstrap, Responsive, Retina, Minimal">
    <link rel="shortcut icon" href="img/favicon.png">

    <title>HCO</title>

    <script src="{{asset('static/js/jquery.js')}}"></script>
    <script src="{{asset('static/js/bootstrap.min.js')}}"></script>
    <!-- Bootstrap CSS -->    
    <link href="{{asset('static/css/bootstrap.min.css')}}" rel="stylesheet">
    <!-- bootstrap theme -->
    <link href="{{asset('static/css/bootstrap-theme.css')}}" rel="stylesheet">
    <!--external css-->
    <!-- font icon -->
    <link href="{{asset('static/css/elegant-icons-style.css')}}" rel="stylesheet" />
    <link href="{{asset('static/css/font-awesome.min.css')}}" rel="stylesheet" />
    <!-- Custom styles -->
    <link href="{{asset('static/css/style.css')}}" rel="stylesheet">
    <link href="{{asset('static/css/style-responsive.css')}}" rel="stylesheet" />

    <script src="{{ asset('static/js/bootstrap-select/dist/js/bootstrap-select.min.js') }}" type="text/javascript" ></script>
    <script src="{{ asset('static/js/bootstrap-select/dist/js/bootstrap-select.js') }}" type="text/javascript" ></script>
    <link href="{{ asset('static/js/bootstrap-select/dist/css/bootstrap-select.css') }}" rel="stylesheet" type="text/css"/> 
    <script src="{{ asset('static/john.js') }}" type="text/javascript" ></script>

    <link rel="stylesheet" href="{{asset('static/dist-ajax/css/ajax-bootstrap-select.css')}}"/>
    <script type="text/javascript" src="{{asset('static/dist-ajax/js/ajax-bootstrap-select.js')}}"></script>

    <script type="text/javascript" src="{{asset('static/crop/jquery.Jcrop.js')}}"></script>
    <link rel="stylesheet" href="{{asset('static/crop/jquery.Jcrop.css')}}"/>

    <!--notiticacion-->
    <link href="{{asset('static/noty-3.1.0/lib/noty.css')}}" rel="stylesheet">
    <script src="{{asset('static/noty-3.1.0/lib/noty.js')}}"></script>



    <link href="{{ asset('static/nvd3-master/build/nv.d3.css')}}" rel="stylesheet" type="text/css">
    <script src="{{ asset('static/nvd3-master/build/d3.min.js')}}" charset="utf-8"></script>
    <script src="{{ asset('static/nvd3-master/build/nv.d3.js')}}"></script>

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 -->
    <!--[if lt IE 9]>
      <script src="js/html5shiv.js"></script>
      <script src="js/respond.min.js"></script>
      <script src="js/lte-ie7.js"></script>
    <![endif]-->
  </head>

  <body style="font-size: 10pt !important" >

<div class="container-fluid">
             {% block iframe %}
             
             {% endblock %}





</div>


<div class="modal fade" id="modal-deleteiframe"  role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg2" role="document">
        <div class="modal-content" style="margin-top:10px">
            <div class="modal-header">
                <h4 class="modal-title">Eliminar</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="aler alert-danger">
                    <h3>En verdad desea eliminar el registro ?</h3>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                <a class="btn btn-danger btn-ok">Aceptar</a>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<!-- /.modal -->


<script type="text/javascript">

        $('#modal-deleteiframe').on('show.bs.modal', function(e) {
            $(this).find('.btn-ok').attr('href', $(e.relatedTarget).data('href'));   
           // $('.debug-url').html('Delete URL: <strong>' + $(this).find('.btn-ok').attr('href') + '</strong>');
        });

        $('#modal-deleteiframe').on('show.bs.modal', function(e) {
            
            $(this).find('.btn-ok').click(function(){           
                    //showLoadMsg("Eliminando");
                    var url = $(e.relatedTarget).data('href');
                    setTimeout(function(){
                        $.post(
                            url,
                            {},
                            function(r){
                                
                                if(r == "OK_PROCESS"){
                                    window.location.reload()
                                }
                                
                            }
                        );
                    },500);
            });
            //$(this).find('.btn-ok').attr('href', $(e.relatedTarget).data('href'));   
            //$('.debug-url').html('Delete URL: <strong>' + $(this).find('.btn-ok').attr('href') + '</strong>');
        });







</script>

  <!-- container section end -->

    <!-- javascripts -->
   
<!--
    <script src="{{asset('static/js/bootstrap.min.js')}}"></script>
    <script src="{{asset('static/js/jquery.scrollTo.min.js')}}"></script>
    <script src="{{asset('static/js/jquery.nicescroll.js')}}" type="text/javascript"></script>
    <script src="{{asset('static/js/gritter.js')}}" type="text/javascript"></script>
    <script src="{{asset('static/js/scripts.js')}}"></script>
    <script src="{{ asset('static/john.js') }}" type="text/javascript" ></script>
-->


  </body>
</html>