<!DOCTYPE html>
<html>
<head>


  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <!-- Tell the browser to be responsive to screen width -->
  <title>HCO</title>
  <!-- Tell the browser to be responsive to screen width -->
  <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
  <!-- Bootstrap 3.3.7 -->
  <link rel="stylesheet" href="{{asset('static/admin/bower_components/bootstrap/dist/css/bootstrap.min.css')}}">
  <!-- Font Awesome -->
  <link rel="stylesheet" href="{{asset('static/admin/bower_components/font-awesome/css/font-awesome.min.css')}}">
  <!-- Ionicons -->
  <link rel="stylesheet" href="{{asset('static/admin/bower_components/Ionicons/css/ionicons.min.css')}}">
  <!-- Theme style -->
  <link rel="stylesheet" href="{{asset('static/admin/dist/css/AdminLTE.min.css')}}">
  <!-- iCheck -->
  <link rel="stylesheet" href="{{asset('static/admin/plugins/iCheck/square/blue.css')}}">
  <!-- Google Font -->
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic">




</head>
<body class="hold-transition login-page">
<div class="login-box">
  <div class="login-logo">
    <a href="hco.saicomestudio.com" target="_black" ><b>HCO</b><br><h4>Historia Clínica Ocupacional</h4></a>
  </div>
  <!-- /.login-logo -->
  <div class="login-box-body">
    <p class="login-box-msg">saicomestudio.com</p>

    <form action="{{path('startlogin_homepage')}}" method="post">

            <div class="input-group">
              <span class="input-group-addon"><i class="fa fa-user"></i></span>
              {{form_widget(form.name)}}
                <span style="color:red">{{form_errors(form.name)}}</span>              
            </div>
            <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-sign-out"></i></span>
                {{form_widget(form.passwd)}}
                <span style="color:red">{{form_errors(form.passwd)}}</span>
            </div>
            <div class="form-group">
                {{form_widget(form.institucion)}}
                <span style="color:red">{{form_errors(form.institucion)}}</span>
            </div>            


      <div class="row">
               {% for flashMessage in app.session.flashbag.get('notice') %}
                    <div class="alert alert-{{flashMessage.type}}">
                        {{ flashMessage.message }}
                    </div>
                {% endfor %}        
      </div>
      <div class="row">
        <div class="col-xs-4">
          {{ form_widget(form._token) }}
          <button type="submit" class="btn btn-primary btn-block btn-flat">Ingresar</button>
        </div>
        <!-- /.col -->
      </div>
    </form>
  </div>
  <!-- /.login-box-body -->
</div>
<!-- /.login-box -->

<!-- jQuery 3 -->
<script src="{{asset('static/admin/bower_components/jquery/dist/jquery.min.js')}}"></script>
<!-- Bootstrap 3.3.7 -->
<script src="{{asset('static/admin/bower_components/bootstrap/dist/js/bootstrap.min.js')}}"></script>
<!-- iCheck -->
<script src="{{asset('static/admin/plugins/iCheck/icheck.min.js')}}"></script>
<script>
  $(function () {
    $('input').iCheck({
      checkboxClass: 'icheckbox_square-blue',
      radioClass: 'iradio_square-blue',
      increaseArea: '20%' // optional
    });
  });
</script>
</body>
</html>