

<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Sistema de autoevaluacion y registro calificado">
    <meta name="author" content="mvar">
    <meta name="keyword" content="Acreditacion programas, pregrado, postgrado, instituciona, registro calificado">
    <link rel="shortcut icon" href="img/favicon.png">

    <title>mvar</title>

    <!-- Bootstrap CSS -->    
    <link href="{{base_dir ~  asset('static/css/bootstrap.min.css')}}" rel="stylesheet">
    <!-- bootstrap theme -->
    <link href="{{base_dir ~  asset('static/css/bootstrap-theme.css')}}" rel="stylesheet">
    <!--external css-->
    <!-- font icon -->
    <link href="{{base_dir ~  asset('static/css/elegant-icons-style.css')}}" rel="stylesheet" />
    <link href="{{base_dir ~  asset('static/css/font-awesome.min.css')}}" rel="stylesheet" />
    <!-- Custom styles -->
    <link href="{{base_dir ~  asset('static/css/style.css')}}" rel="stylesheet">
    <link href="{{base_dir ~  asset('static/css/style-responsive.css')}}" rel="stylesheet" />

    <link href="{{ base_dir ~  asset('static/js/bootstrap-select/dist/css/bootstrap-select.css') }}" rel="stylesheet" type="text/css"/> 

    <link rel="stylesheet" href="{{base_dir ~  asset('static/dist-ajax/css/ajax-bootstrap-select.css')}}"/>
    <link rel="stylesheet" href="{{base_dir ~  asset('static/crop/jquery.Jcrop.css')}}"/>


</head>

<body class="app header-fixed sidebar-fixed aside-menu-fixed aside-menu-hidden" style="background-color:white">

    <div class="app-body">


            <div class="container-fluid" style="font-size: 10pt">
            {% block report %}
            {% endblock %}
            </div>



    </div>






</body>

</html>



