  {% extends "::iframe.html.twig" %}

{% block iframe %}

   <div class="page-404">
    <p class="text-404">Registro Exitoso</p>

    <h2>Información!</h2>
    <p>{{namemodulo}}</p>
  </div>
  <div class="credits">
    <!-- 
        All the links in the footer should remain intact. 
        You can delete the links only if you purchased the pro version.
        Licensing information: https://bootstrapmade.com/license/
        Purchase the pro version form: https://bootstrapmade.com/buy/?theme=NiceAdmin
    -->
    <!--
    <a href="https://bootstrapmade.com/free-business-bootstrap-themes-website-templates/">Business Bootstrap Themes</a> by <a href="https://bootstrapmade.com/">BootstrapMade</a>
  -->
</div>
{% endblock%}