<section class="content-header">
    <h1>
        {{title}}
    </h1>
    <ol class="breadcrumb">
        <li><a [routerLink]="['/']"><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="active">{{title}}</li>
    </ol>
    </section>

<div *ngIf='loading'>
    Cargando...
</div>


<div class="box box-default color-palette-box" *ngIf='!loading'>
<div class="box-body">
    <div class="row">

            <form class="form-horizontal" [formGroup]="form" novalidate >
                    <div class="box-body">
                      <div class="col-md-12">


                          <div class="col-md-4">
                              <label class="control-label" >Tipo Reporte</label>
                              <select class="form-control " 
                               [(ngModel)]="in.nameReport" formControlName="nameReport">
                                <option *ngFor='let n of entidades.tipo' value="{{n.nameReport}}">{{n.nameReport}} </option>
                              </select>
                              <label style="color: red" *ngIf="form.get('nameReport').hasError('required') && (form.get('nameReport').dirty || form.get('nameReport').touched)">Requerido</label>
                              <label style="color: red" *ngIf='err.nameReport != null && err.nameReport != ""' >{{err.nameReport}}</label>
                            </div> 
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label" >Fecha Inicio</label>
                                    <div class="col-sm-12" >
                                      <input type="date"  class="form-control input-sm"  formControlName="fechaInicio" [(ngModel)]="in.fechaInicio"  >
                                      <label style="color: red" *ngIf="form.get('fechaInicio').hasError('required') && (form.get('fechaInicio').dirty || form.get('fechaInicio').touched)">Requerido</label>
                                      <label style="color: red" *ngIf='err.fechaInicio != null && err.fechaInicio != ""' >{{err.fechaInicio}}</label>
                                    </div>
                                  </div>   
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label" >Fecha Fin</label>
                                    <div class="col-sm-12" >
                                      <input type="date"  class="form-control input-sm"  formControlName="fechaFin" [(ngModel)]="in.fechaFin"  >
                                      <label style="color: red" *ngIf="form.get('fechaFin').hasError('required') && (form.get('fechaFin').dirty || form.get('fechaFin').touched)">Requerido</label>
                                      <label style="color: red" *ngIf='err.fechaFin != null && err.fechaFin != ""' >{{err.fechaFin}}</label>
                                    </div>
                                  </div>   
                            </div>
          

                      </div>
      
                      <div class="box-footer ">
                       <a [routerLink]="['/cfg_role']"  class="btn btn-default pull-left" >Volver</a>
                        <button type="submit" class="btn btn-info pull-right"  
                         [disabled]="form.invalid" (click)="onSubmit()"
                         *ngIf='acceso.permisos[0].edit_permission == "SI" || acceso.permisos[0].new_permission == "SI" ' >GUARDAR</button>
                         <button type="submit" class="btn btn-success pull-right"  
                         [disabled]="form.invalid" (click)="onsubmit2()"
                         *ngIf='acceso.permisos[0].edit_permission == "SI" || acceso.permisos[0].new_permission == "SI" ' >GUARDAR</button>
                        
                         
                        </div>
                      </div>
                  </form>            

    </div>

    <div class="row" *ngIf='carga_tabla'>
      <div class="col-md-12">
          <div style="width:1050px;overflow: scroll;text-align:center">
              <table id="tabla-report" class="display nowrap col-md-12" >
                  <thead>
                      <tr>
                          <th *ngFor='let l of head'>{{l}}</th>
                      </tr>
                  </thead>
                  <tbody>
                        <tr *ngFor="let b of body"> 
                            <td *ngFor='let l of head'>{{b[l]}}</td>        
                        </tr>
                  </tbody>
                  <tfoot>
                      <tr>
                          <th *ngFor='let l of head'>{{l}}</th>
                      </tr>
                  </tfoot>
              </table>  
            </div>
    
      </div>


    </div>


</div>
</div>