<video width="320" height="240" controls>
  <source src="{{asset('repository/tutoriales/conf.mp4')}}" type="video/mp4">
  <source src="movie.ogg" type="video/ogg">
CONFIGURACION
</video>

<hr>
<video width="320" height="240" controls>
  <source src="{{asset('repository/tutoriales/pac.mp4')}}" type="video/mp4">
  <source src="movie.ogg" type="video/ogg">
PACIENTES - ADMISION
</video>

<hr>
<video width="320" height="240" controls>
  <source src="{{asset('repository/tutoriales/hco.mp4')}}" type="video/mp4">
  <source src="movie.ogg" type="video/ogg">
HISTORIA CLINICA
</video>