<section class="content-header">
    <h1>
        {{title}}
    </h1>
    <ol class="breadcrumb">
        <li><a [routerLink]="['/']"><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="active">{{title}}</li>
    </ol>
    </section>

<div *ngIf='loading'>
    Cargando...
</div>


<div class="box box-default color-palette-box" *ngIf='!loading'>
<div class="box-body">
    <div class="row">

            <form class="form-horizontal" [formGroup]="form" novalidate >
                    <div class="box-body">
                      <div class="col-md-12">
                        <div class="col-md-4">
                            <div class="col-md-12" *ngIf='in.imgUser != null && in.imgUser != ""'>
                                <img class="responsive-img" width="240" height="240" id="imagen-blob" src="{{urlproject}}web/{{in.imgUser}}"   />  
                            </div>
                            <div class="col-md-12" *ngIf='in.imgUser == null || in.imgUser == ""'>
                                <img class="responsive-img" width="240" height="240" id="imagen-blob" src=""   />  
                            </div>                  
          
                            <div class="col-md-12">
                                <input type="hidden" class="form-control input-sm" id="imgUser"  formControlName="imgUser"  >
                                  <input type="file" class="form-control input-sm"  (change)="makeToFiles($event)"  >
                            </div>
                        </div>
                        <div class="col-md-8">
                            <div class="row">
                                    <div class="col-md-4">
                                            <div class="form-group">
                                              <label class="control-label" >Usuario</label>
                                              <div class="col-sm-12" >
                                                <input type="text"  class="form-control input-sm"  formControlName="nameUser" [(ngModel)]="in.nameUser"  >
                                                <label style="color: red" *ngIf="form.get('nameUser').hasError('required') && (form.get('nameUser').dirty || form.get('nameUser').touched)">Requerido</label>
                                                <label style="color: red" *ngIf='err.nameUser != null && err.nameUser != ""' >{{err.nameUser}}</label>
                                              </div>
                                            </div>                    
                                      </div>
                                      <div class="col-md-4">  
                                            <div class="form-group">
                                                    <label class="control-label" >Clave</label>
                                                    <div class="col-sm-12" >
                                                      <input type="text"  class="form-control input-sm"  formControlName="passwdUser" [(ngModel)]="in.passwdUser"  >
                                                      <label style="color: red" *ngIf="form.get('passwdUser').hasError('required') && (form.get('passwdUser').dirty || form.get('passwdUser').touched)">Requerido</label>
                                                      <label style="color: red" *ngIf='err.passwdUser != null && err.passwdUser != ""' >{{err.passwdUser}}</label>
                                                    </div>
                                                  </div>                                                                               
                                      </div>
                                      <div class="col-md-4">  
                                            <label class="control-label" >Confirme Clave</label>
                                            <div class="col-sm-12">
                                              <input type="text" class="form-control input-sm"  
                                               [(ngModel)]="in.confirmPassword"  formControlName="confirmPassword"  placeholder="Requerido"/>
                                               <label style="color: red" *ngIf="form.controls.confirmPassword.errors?.MatchPassword && (form.get('confirmPassword').dirty  || form.get('confirmPassword').touched )">Las claves no coinciden</label>
                                               <label style="color: red" *ngIf="form.get('confirmPassword').hasError('required') && (form.get('confirmPassword').dirty  || form.get('confirmPassword').touched )">Requerido</label>
                                              <label style="color: red" *ngIf='err.confirmPassword != null && err.confirmPassword != ""'>{{err.confirmPassword}}</label>
                                            </div>                                                                              
                                      </div>                                      
                            </div>
                            <div class="row">
                                    <div class="col-md-8">
                                            <div class="form-group">
                                              <label class="control-label" >Nombres y Apellidos</label>
                                              <div class="col-sm-12" >
                                                <input type="text"  class="form-control input-sm"  formControlName="nameapeUser" [(ngModel)]="in.nameapeUser"  >
                                                <label style="color: red" *ngIf="form.get('nameapeUser').hasError('required') && (form.get('nameapeUser').dirty || form.get('nameapeUser').touched)">Requerido</label>
                                                <label style="color: red" *ngIf='err.nameapeUser != null && err.nameapeUser != ""' >{{err.nameapeUser}}</label>
                                              </div>
                                            </div>                    
                                      </div>
                                      <div class="col-md-4">  
                                            <div class="form-group">
                                              <label for="inputPassword3" class="control-label">Activo</label>
                                              <div class="col-sm-12">
                                                <div class="form-group">
                                                  <select class="form-control input-sm" formControlName="actUser"  [(ngModel)]="in.actUser"  >
                                                  <option  value="SI" [selected]="in.actUser == 'SI'">SI</option>
                                                  <option  value="NO" [selected]="in.actUser == 'NO'">NO</option>
                                                  </select>
                                                  <label style="color: red"  *ngIf="form.get('actUser').hasError('required')">Requerido</label>
                                                  <label style="color: red"  *ngIf='err.actUser != null && err.actUser != ""'>{{err.actUser}}</label>
                                                </div>
                                              </div>
                                            </div>                                   
                                      </div>
                            </div> 
                            <div class="row">
                                <div class="col-md-4">
                                    <label class="control-label" >Email</label>
                                    <div class="col-sm-12">
                                      <input type="text" class="form-control input-sm" formControlName="emailUser" [(ngModel)]="in.emailUser" placeholder="Requerido">
                                      <label style="color: red" *ngIf="form.get('emailUser').hasError('email')" >Email incorrecto</label>
                                      <label style="color: red" *ngIf="form.get('emailUser').hasError('required') && (form.get('emailUser').dirty  || form.get('emailUser').touched )">Requerido</label>
                                      <label style="color: red" *ngIf='err.emailUser != null && err.emailUser != ""' >{{err.emailUser}}</label>
                                    </div> 
                                </div>
                                <div class="col-md-4">
                                  <label class="control-label" >Rol</label>
                                  <select class="form-control " 
                                   [(ngModel)]="in.idRoleUser" formControlName="idRoleUser">
                                    <option *ngFor='let n of entidades.roles'  [selected]="in.idRoleUser == n.id"  value="{{n.id}}">{{n.nameRole}} </option>
                                  </select>
                                  <label style="color: red" *ngIf="form.get('idRoleUser').hasError('required') && (form.get('idRoleUser').dirty || form.get('idRoleUser').touched)">Requerido</label>
                                  <label style="color: red" *ngIf='err.idRoleUser != null && err.idRoleUser != ""' >{{err.idRoleUser}}</label>
                    
                                </div>
                                <div class="col-md-4">
                                  <label class="control-label" >Institución</label>
                                  <select class="form-control " 
                                   [(ngModel)]="in.idEntityUser" formControlName="idEntityUser">
                                    <option *ngFor='let n of entidades.entity'  [selected]="in.idEntityUser == n.id"  value="{{n.id}}">{{n.nameEntity}} </option>
                                  </select>
                                  <label style="color: red" *ngIf="form.get('idEntityUser').hasError('required') && (form.get('idEntityUser').dirty || form.get('idEntityUser').touched)">Requerido</label>
                                  <label style="color: red" *ngIf='err.idEntityUser != null && err.idEntityUser != ""' >{{err.idEntityUser}}</label>
                    
                                </div>                                                                    
                            </div>  
                            <div class="row">
                                <div class="col-md-4">
                                    <label class="control-label" >Tipo Docuumento</label>
                                    <select class="form-control " 
                                     [(ngModel)]="in.idTypedocUser" formControlName="idTypedocUser">
                                      <option *ngFor='let n of entidades.typedoc'  [selected]="in.idTypedocUser == n.id"  value="{{n.id}}">{{n.nameTypedoc}} </option>
                                    </select>
                                    <label style="color: red" *ngIf="form.get('idTypedocUser').hasError('required') && (form.get('idTypedocUser').dirty || form.get('idTypedocUser').touched)">Requerido</label>
                                    <label style="color: red" *ngIf='err.idTypedocUser != null && err.idTypedocUser != ""' >{{err.idTypedocUser}}</label>
                      
                                  </div>                              
                              <div class="col-md-4">
                                  <div class="form-group">
                                      <label class="control-label" >No. Documento</label>
                                      <div class="col-sm-12" >
                                        <input type="text"  class="form-control input-sm"  formControlName="numidUser" [(ngModel)]="in.numidUser"  >
                                        <label style="color: red" *ngIf="form.get('numidUser').hasError('required') && (form.get('numidUser').dirty || form.get('numidUser').touched)">Requerido</label>
                                        <label style="color: red" *ngIf='err.numidUser != null && err.numidUser != ""' >{{err.numidUser}}</label>
                                      </div>
                                    </div>   
                              </div>                                                                   
                          </div>                                                                                    
                        </div>



                      </div>
      
                      <div class="box-footer ">
                       <a [routerLink]="['/cfg_user']"  class="btn btn-default pull-left" >Volver</a>
                        <button type="submit" class="btn btn-info pull-right"  
                         [disabled]="form.invalid" (click)="onSubmit()"
                         *ngIf='acceso.permisos[0].edit_permission == "SI" || acceso.permisos[0].new_permission == "SI" ' >GUARDAR</button>
                      </div>
                      </div>
                  </form>            

    </div>
</div>
</div>