<section class="content-header">
        <h1>
            {{title}}
        </h1>
        <ol class="breadcrumb">
            <li><a [routerLink]="['/']"><i class="fa fa-dashboard"></i> Home</a></li>
            <li class="active">{{title}}</li>
        </ol>
        </section>
    
    <div *ngIf='loading'>
        Cargando...
    </div>
    
    
    <div class="box box-default color-palette-box" *ngIf='!loading'>
    <div class="box-body">
        <div class="row">

                <form class="form-horizontal" [formGroup]="form" novalidate >
                        <div class="box-body">
                          <div class="col-md-12">
                            <div class="col-md-4 col-md-offset-2">
                                  <div class="form-group">
                                    <label class="control-label" >Nombre</label>
                                    <div class="col-sm-12" >
                                      <input type="text"  class="form-control input-sm"  formControlName="nameRole" [(ngModel)]="in.nameRole"  >
                                      <label style="color: red" *ngIf="form.get('nameRole').hasError('required') && (form.get('nameRole').dirty || form.get('nameRole').touched)">Requerido</label>
                                      <label style="color: red" *ngIf='err.nameRole != null && err.nameRole != ""' >{{err.nameRole}}</label>
                                    </div>
                                  </div>                    
                            </div>
                            <div class="col-md-4">  
                                  <div class="form-group">
                                    <label for="inputPassword3" class="control-label">Activo</label>
                                    <div class="col-sm-12">
                                      <div class="form-group">
                                        <select class="form-control input-sm" formControlName="actRole"  [(ngModel)]="in.actRole"  >
                                        <option  value="SI" [selected]="in.actRole == 'SI'">SI</option>
                                        <option  value="NO" [selected]="in.actRole == 'NO'">NO</option>
                                        </select>
                                        <label style="color: red"  *ngIf="form.get('actRole').hasError('required')">Requerido</label>
                                        <label style="color: red"  *ngIf='err.actRole != null && err.actRole != ""'>{{err.actRole}}</label>
                                      </div>
                                    </div>
                                  </div>                                   
                            </div>
                          </div>
          
                          <div class="box-footer ">
                           <a [routerLink]="['/cfg_role']"  class="btn btn-default pull-left" >Volver</a>
                            <button type="submit" class="btn btn-info pull-right"  
                             [disabled]="form.invalid" (click)="onSubmit()"
                             *ngIf='acceso.permisos[0].edit_permission == "SI" || acceso.permisos[0].new_permission == "SI" ' >GUARDAR</button>
                          </div>
                          </div>
                      </form>            

        </div>
    </div>
    </div>