<section class="content-header" >
    <h1>
      <br>
    </h1>
    <ol class="breadcrumb" >
      <li><a [routerLink]="['/']"><i class="fa fa-dashboard"></i>Pagina Principal</a></li>
      <li><a [routerLink]="['/cfg_role']"><i class="fa fa-dashboard"></i>Roles</a></li>
      <li class="active">Modulos/Permisos</li>
    </ol>
  </section>

<div class="col-md-12" >
  <div class="box box-widget">
    <div class="box-header with-border">
      <div class="user-block">
        <span class="username"> 
        <a href="#">{{title}}</a>  -  <a [routerLink]="['/cfg_role']" class="btn btn-info" >Volver a Roles</a></span>
      </div>              
    </div>
    <div class="box-body">

      <section class="content">
          <div  class="row" *ngIf='loading==true'>
              <img src="{{urlassets}}loading.gif" class="img-responsive center-block">
          </div>

            <div *ngIf='loading==false '>
            <div class="row">
              <div class="col-sm-12">
                <div class="box">
                  <div class="box-body">                  
                    <div class="row">
                      <hr>
                          <div class="col-xs-12 "  *ngFor='let l of listpermission' >

                             <div class="col-xs-12 alert alert-success" *ngIf='l.esmodule_url=="SI"'>
                                        {{l.name_url}}:   
                                        Registtrar<input type="checkbox" [checked]='l.new_permission=="SI"' (change)='onSubmit("new_permission",l.id,$event)'> /

                                        Eliminar  <input type="checkbox" [checked]='l.delete_permission=="SI"' (change)='onSubmit("delete_permission",l.id,$event)'>/

                                        Listar  <input type="checkbox" [checked]='l.list_permission=="SI"' (change)='onSubmit("list_permission",l.id,$event)'>/

                                        Editar  <input type="checkbox" [checked]='l.edit_permission=="SI"' (change)='onSubmit("edit_permission",l.id,$event)'>/

                                        Mirar  <input type="checkbox" [checked]='l.show_permission=="SI"' (change)='onSubmit("show_permission",l.id,$event)'>/

                                        Causar  <input type="checkbox" [checked]='l.cause_permission=="SI"' (change)='onSubmit("cause_permission",l.id,$event)'>/

                                        DesCausar  <input type="checkbox" [checked]='l.descause_permission=="SI"' (change)='onSubmit("descause_permission",l.id,$event)'>/

                                        Visualizar  <input type="checkbox" [checked]='l.visible_permission=="SI"' (change)='onSubmit("visible_permission",l.id,$event)'>
                              </div> 
                              <div class="col-xs-12" *ngFor='let l2 of listpermission'>
                                <div *ngIf='l2.esmodule_url == "OB" && l2.obj_url == l.id'>
                                      <div class="col-xs-3">{{l2.name_url}}</div>
                                      <div class="col-xs-9"  >
                                        Registtrar <input type="checkbox" [checked]='l2.new_permission=="SI"' (change)='onSubmit("new_permission",l2.id,$event)'> /

                                        Eliminar  <input type="checkbox" [checked]='l2.delete_permission=="SI"' (change)='onSubmit("delete_permission",l2.id,$event)'> /

                                        Listar  <input type="checkbox" [checked]='l2.list_permission=="SI"' (change)='onSubmit("list_permission",l2.id,$event)'> /

                                        Editar  <input type="checkbox" [checked]='l2.edit_permission=="SI"' (change)='onSubmit("edit_permission",l2.id,$event)'> /

                                        Mirar <input type="checkbox" [checked]='l2.show_permission=="SI"' (change)='onSubmit("show_permission",l2.id,$event)'> /

                                        Causar  <input type="checkbox" [checked]='l2.cause_permission=="SI"' (change)='onSubmit("cause_permission",l2.id,$event)'> /

                                        DesCausar  <input type="checkbox" [checked]='l2.descause_permission=="SI"' (change)='onSubmit("descause_permission",l2.id,$event)'> /

                                        Visualizar  <input type="checkbox" [checked]='l2.visible_permission=="SI"' (change)='onSubmit("visible_permission",l2.id,$event)'>
                                      </div>                                    
                                </div>
                              </div>                                        
                             
                          </div>   
                    </div>

                  </div>
                </div>
              </div>
            </div>
              

            </div>
      </section>

    </div>
  </div>
</div>